@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.title{
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 4rem;
    font-family: "Open Sans", sans-serif;
}

.targetsContainer{
    display: flex;
    flex-wrap:wrap ;
    margin-bottom: 8rem;
    margin-top: 3rem;
}
