@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.footer {
    width: 100%;
    background-color: #111;
    color: #eee;
}

.footer-container {
    width: 100%;
    height: 15rem;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    padding: 0 1rem;
    text-align: center;
}
.footer-section {
  flex: 1;
  min-width: 220px;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.footer-section h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #ff4444;
  font-size: 1.6rem;
}
.footer-section h2 {
  font-size: 1.2rem;

}
.footer-section p{
    font-size: 1.2rem;
}
.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 4rem;
    font-style: Italic;
}

.footer-text {
  font-size: 0.9rem;
  color: #ccc;
  display: flex;
  justify-content: end;
}

.footer-section a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.2s ease;
}

.footer-section a:hover {
  color: #ff4444;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #333;
  padding: 10px;
  font-size: 1rem;
  color: #aaa;
}