/* header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.headerContainer{
    height: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 2rem;
    border-bottom: 1px solid rgb(99, 99, 99);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.6rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    font-style: Italic;
}
.nav .menu {
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li a {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #4f4f4f;
    transition: color 0.2s ease-in-out;
}

.menu li a:hover {
    color: #232323;
    border-bottom: 3px solid rgb(227, 49, 49);
}

.menu a.active{
    border-bottom: 3px solid rgb(227, 49, 49);
}

/* SOLO AGREGAR ESTO - Contenedor para alinear carrito y perfil */
.headerActions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.ingresar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.8rem;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    transition: ease-in-out 0.1s;
}

.ingresar:hover{
    color: #ffff;
    background-color: rgb(227, 49, 49);
    border: solid 1px white;
}