@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 16px;
  max-width: 350px;
  margin: 20px auto;
  position: relative;
  font-family: 'Georgia', serif;
  transition: ease-in-out 0.3s;
  background-color: rgb(245, 245, 245);
  font-family: "Open Sans", sans-serif;
}
.card:hover{
  transform: scale(1.010);
  box-shadow: 0 0 7px 0;
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 20px;
}
.priceTag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(227, 49, 49);
  color: #000;
  padding: 4px 8px;
  border-radius: 6px;
  transform: rotate(-45deg);
  font-size: 12px;
  font-weight: bold;
}

.productImg {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}


.productInfo {
  margin-top: 16px;
}

.productTitle {
  font-size: 25px;
  text-align: center;
  margin-bottom: 8px;
}

.productMeta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
  color: #000000;
}

.productDescription {
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 16px;
  color: white;
}

.addButton {
  background-color: rgb(227, 49, 49);
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #ff0000;
}
